<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erro</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <% if (error) { %>
    <div><strong>Error:</strong> <%= error.message %></div>
    <% } %>
  </body>
</html>
