<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exclusivo para membros</title>
  </head>
  <body>
    <% if (currentUser) { %>
    <h1>Bem-vindo, <%= currentUser.username %></h1>
    <a href="/new">Nova mensagem</a>
    <a href="/log-out">Sair</a>
    <% } else { %>
    <h1>Entre na sua conta:</h1>
    <form action="/log-in" method="POST">
      <label for="username">Usuário</label>
      <input name="username" type="text" />
      <label for="password">Senha</label>
      <input name="password" type="password" />
      <button>Login</button>
    </form>
    <% } %>
    <h3>Mensagens:</h3>
    <% if (!currentUser) { %>
    <p>Faça login para visualizar datas e autores das mensagens</p>
    <% } %> <% messages.forEach(function(message) { %>
    <div class="message">
      <p><%= message.message %></p>
      <!-- prettier-ignore -->
      <p>
        Postado por: <%= currentUser ? message.user.username : "(somente para membros)" %>
      </p>
      <!-- prettier-ignore -->
      <p>
        Data: <%= currentUser ? message.formattedDate + " - " + message.formattedTime : "(somente para membros)" %>
      </p>
    </div>
    <% }); %>
  </body>
</html>
