<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exclusivo para membros</title>
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>Bem-vindo, <%= currentUser.username %></h1>
    <a href="/log-out">Sair</a>
    <% } else { %>
    <h1>Entre na sua conta:</h1>
    <form action="/log-in" method="POST">
      <label for="username">Usuário</label>
      <input name="username" type="text" />
      <label for="password">Senha</label>
      <input name="password" type="password" />
      <button>Login</button>
    </form>
    <%}%>
  </body>
</html>
