<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exclusivo para membros</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <% if (currentUser) { %>
    <h1 class="tit-huge">Olá,</h1>
    <h1 class="tit-big"><%= currentUser.username %></h1>

    <div class="my-8">
      <a class="btn-alt" href="/log-out">Log-out</a>
    </div>

    <div class="my-16">
      <a class="btn" href="/new">Nova mensagem</a>
    </div>
    <% } else { %>
    <h1>Entre na sua conta:</h1>
    <form action="/log-in" method="POST">
      <label for="username">Usuário</label>
      <input name="username" type="text" />
      <label for="password">Senha</label>
      <input name="password" type="password" />
      <button>Login</button>
    </form>
    <h2>Não tem conta?</h2>
    <a href="/sign-up">Crie sua conta</a>
    <% } %>
    <h2>Mensagens:</h2>
    <% if (!currentUser) { %>
    <p>Faça login para visualizar datas e autores das mensagens</p>
    <% } %> <% messages.forEach(function(message) { %>
    <div class="message">
      <p><%= message.message %></p>
      <!-- prettier-ignore -->
      <p>
        Postado por: <%= currentUser ? message.user.username : "(somente para membros)" %> | Data: <%= currentUser ? message.formattedDate + " - " + message.formattedTime : "(somente para membros)" %>
      </p>
    </div>
    <% }); %>
  </body>
</html>
