<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nova mensagem</title>
  </head>
  <body>
    <h1>Escreva sua mensagem:</h1>
    <form action="" method="POST">
      <label for="message">Mensagem:</label>
      <textarea name="message"></textarea>
      <button>Enviar</button>
    </form>
  </body>
</html>
