<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nova mensagem</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <h1 class="tit-huge">Nova</h1>
    <h1 class="tit-big">Mensagem:</h1>
    <!-- prettier-ignore-->
    <% if (errors && errors.length > 0) { %>
          <% errors.forEach(function(error) { %>
    <div class="tomato"><%= error.msg %></div>
    <% }); %> <% } %>
    <form class="msg-form" action="" method="POST">
      <!-- <label for="message">Mensagem:</label> -->
      <textarea class="block msg-input" name="message"></textarea>
      <button class="btn my-8">Enviar</button>
    </form>
  </body>
</html>
