<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastre-se aqui</title>
  </head>
  <body>
    <h1>Insira seus dados:</h1>
    <form action="" method="POST">
      <label for="username">Usuário</label>
      <input name="username" type="text" />
      <label for="name">Nome completo</label>
      <input name="name" type="text" />
      <label for="password">Senha</label>
      <input name="password" type="password" />
      <label for="confirm">Confirme sua senha:</label>
      <input name="confirm" type="password" />
      <button>Enviar</button>
    </form>
  </body>
</html>
